{% extends 'pages/layout.html' %}
{% block body %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Add Product</h1>
            {% include 'includes/_flashmsg.html' %}
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <form role="form" enctype=multipart/form-data class="" action="/admin_add_product"
                                  method="post">
                                <div class="form-group">
                                    <label>Product Name</label>
                                    <input class="form-control" required="required" name="name" placeholder="Enter name">
                                </div>
                                <div class="form-group">
                                    <label>Price</label>
                                    <input class="form-control" required="required" name="price" placeholder="Enter price">
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea class="form-control" required="required" name="description" rows="3"
                                              placeholder="Write product description"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Available</label>
                                    <input class="form-control" required="required" name="available" placeholder="Available">
                                </div>
                                <div class="form-group">
                                    <label>Category</label>
                                    <select class="form-control" id="category_id" onchange="populateList();"
                                            name="category">
                                        <option value="moba">moba</option>
                                        <option value="fps">fps</option>
                                        <option value="rpg">rpg</option>
                                        <option value="sports">sports</option>
                                    </select>
                                </div>
                                <div class="form-group level-container">
                                    <label>level for moba</label>
                                    <div class="form-group">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="moba" value="v_shape">V-Shape
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="moba" value="polo">Polo T-shirt
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="moba" value="clean_text">Clean Text
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="moba" value="design">Colorful Design
                                        </label>
                                    </div>
                                    <label>Level for fps</label>
                                    <div class="form-group">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="fps" value="chain">Chain
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="fps" value="leather">Leather
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="fps" value="design">Design
                                        </label>
                                    </div>
                                    <label>Level for rpg</label>
                                    <div class="form-group">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="rpg" value="leather">Leather
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="rpg" value="hook">Hook
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="rpg" value="color">Color
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="rpg" value="design">Design
                                        </label>
                                    </div>
                                    <label>Level for sports</label>
                                    <div class="form-group">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="sports" value="formal">Formal
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="sports" value="converse">Converse
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="sports" value="loafer">Loafer
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="sports" value="leather">Leather
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Item</label>
                                    <input class="form-control" required="required" name="item" placeholder="Ex: watch/sports">
                                </div>
                                <div class="form-group">
                                    <label>Product Code</label>
                                    <input class="form-control" required="required" name="code" placeholder="Enter code">
                                </div>
                                <div class="form-group">
                                    <label>Add Image</label>
                                    <input type="file" required="required" name="picture">
                                </div>
                                <button type="submit" class="btn btn-default">Submit Button</button>
                            </form>
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->
{% endblock %}